#container
{
    font-family:arial;
    width:1200px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
}

#header
{
    font-size:20px;
    width:1170px;
    height:120px;
    background-color:#ffda40;
    padding-top:10px;
    padding-left:30px;
}

#navigation
{
    width:200px;
    float:left;
}

#parts h3
{
    background-color:#ffda40;
    padding-left:20px;
    padding-top:5px;
    padding-bottom:5px;
}

ul
{
    list-style-type:none;
}

#content
{
    font-size:14px;
    line-height:20px;
    width:980px;
    margin-left:200px;
    background-color:#fff;
    padding-left:10px;
    padding-right:10px;
    padding-bottom:10px;
}

#Alexandra
{
    width:150px;
    float:left;
    margin-right:10px;
}

#footer
{
    padding-left:5px;
    padding-bottom:1px;
    padding-top:1px;
    background-color:#378de5;
}

body
{
    background-image:url('../Pics/alexandra.png');
    background-color:#ccc;
}

#navigation
{
    background-color:#fff;
}

#navigation li
{
    margin:15px;
    font-size:14px;
}

/* Länkar för navigationen */

#active:link
{
    background-color:#ffda40;
}

.active:link
{
    color:#000;
    background-color:#a68600;
    padding:5px;
    
    text-decoration:none;
}

.active:visited
{
    color:#303030;
    text-decoration:none;
}

.active:focus
{
    color:#000;
}

.active:hover 
{
	background-color:#378de5;
    text-decoration:none;
}
.active:active 
{
	background-color:#378de5;
    text-decoration:none;
}

/* Länkar inom content */

#content a:link 
{ 
    color:#CCBA41; 
}

#content a:visited 
{ 
    color:#a68600;
}

#content a:focus 
{ 
    color:#000; 
}

#content a:hover 
{ 
    color:#5c5c5c; 
}

#content a:active 
{ 
    color:#000; 
}